In [1]:
import os
import pandas as pd
import numpy as np

In [2]:
dir_=""# 수집한 데이터를 입력하면 됩니다.
os.chdir()

In [3]:
baltic=pd.read_csv("baltic_r_r.csv",encoding="euc-kr") # baltic 지수
dollar=pd.read_csv("dollarindex.csv",encoding="euc-kr") # dallar index
gold=pd.read_csv("gold_price_r.csv",encoding="euc-kr") # gold 가격
oil=pd.read_csv("oil_price_r.csv",encoding="euc-kr") # 두바이유, WTI, 브렌트유, 휘발유, 난방유 가격
slx=pd.read_csv("SLX.csv",encoding="euc-kr") # SLX

In [4]:
iron=pd.read_excel("IRON_r.xls",encoding="euc-kr")

In [5]:
new_col=['date','price','rise','pro','waste']

for i in range(5):
    iron.columns.values[i] = new_col[i]

In [6]:
iron.head()

         date  price  rise    pro  waste
0  2010-01-08  135.0  23.5  21.08    0.0
1  2010-01-15  135.0   0.0   0.00    0.0
2  2010-01-22  131.5  -3.5  -2.59    0.0
3  2010-01-29  126.0  -5.5  -4.18    0.0
4  2010-02-05  128.5   2.5   1.98    0.0

In [7]:
new_col=['date','price']

for i in range(2):
    gold.columns.values[i] = new_col[i]

In [8]:
gold.head()

       date    price
0  20100104  1126.35
1  20100111  1139.55
2  20100118  1116.00
3  20100125  1089.95
4  20100201  1090.80

In [9]:
new_col=['date','dubai','date1','wti','date2','brent','date3','gasoline','date4','warm']

for i in range(len(new_col)):
    oil.columns.values[i] = new_col[i]

In [10]:
oil.head()

,date,dubai,date1,wti,date2,brent,date3,gasoline,date4,warm
0,20100104,79.51,20100104,82.37,20100104,81.10,20100104,213.12,20100104,219.43
1,20100111,79.07,20100111,80.07,20100111,78.70,20100111,208.40,20100111,210.71
2,20100118,75.91,20100118,76.82,20100118,75.69,20100118,201.36,20100118,199.84
3,20100125,72.19,20100125,74.03,20100125,72.56,20100125,194.76,20100125,193.31
4,20100201,73.95,20100201,74.59,20100201,73.36,20100201,196.47,20100201,196.32

In [11]:
new_col=['date','price','open','high','low','tran','transition']

for i in range(len(new_col)):
    dollar.columns.values[i] = new_col[i]

In [12]:
dollar.head()

            date  price   open   high    low tran transition
0  2010년 01월 03일  77.47  77.92  78.19  77.09    -     -0.005
1  2010년 01월 10일  77.32  77.21  77.41  76.60    -    -0.0019
2  2010년 01월 17일  78.28  77.36  78.81  76.94    -      1.24%
3  2010년 01월 24일  79.46  78.23  79.50  78.03    -      1.51%
4  2010년 01월 31일  80.44  79.46  80.68  78.68    -      1.23%

In [13]:
iron.iloc[445,0]

'2018-07-20'

In [14]:
iron.iloc[446,0]

Timestamp('2018-07-27 00:00:00')

In [15]:
iron.iloc[446,0] = "2018-07-27"
iron.iloc[447,0] = "2018-08-03"
iron.iloc[448,0] = "2018-08-10"

In [16]:
slx=slx.drop(0)

In [17]:
slx=slx.reset_index()
slx=slx.drop("index",axis=1)
slx.head()

         Date       Open       High        Low      Close  Adj Close   Volume
0  2010-01-04  63.060001  67.879997  63.060001  67.550003  55.146149  1756800
1  2010-01-11  68.639999  68.860001  64.839996  65.000000  53.064384  1227200
2  2010-01-18  65.360001  66.690002  58.599998  58.900002  48.084503  1977600
3  2010-01-25  59.779999  60.660000  54.220001  54.509998  44.500618  2823800
4  2010-02-01  55.250000  59.000000  51.900002  54.369999  44.386322  2105700

In [18]:
baltics = baltic['Price']

In [19]:
type(baltics[0])

str

In [20]:
baltics

0          3140
1          3299
2          3204
3          2848
4          2715
         ...
446        1676
447    1,773.00
448    1,691.00
449    1,723.00
450    1,697.00
Name: Price, Length: 451, dtype: object

In [21]:
baltics=baltics.map(lambda x: str(x).replace(".00",""))
baltics=baltics.map(lambda x: str(x).replace(",",""))

In [22]:
baltics=baltics.astype("float64")

In [23]:
baltics.tail()

446    1676.0
447    1773.0
448    1691.0
449    1723.0
450    1697.0
Name: Price, dtype: float64

In [24]:
c_price=pd.Series(iron.iloc[:,1])
c_dollar=pd.Series(dollar.iloc[:,1])
c_gold=pd.Series(gold.iloc[:,1])
c_oil1=pd.Series(oil.iloc[:,1])
c_oil2=pd.Series(oil.iloc[:,3])
c_oil3=pd.Series(oil.iloc[:,5])
c_oil4=pd.Series(oil.iloc[:,7])
c_oil5=pd.Series(oil.iloc[:,9])
c_slx=pd.Series(slx['Close'])
c_baltic=baltics

In [26]:
olddatafram = pd.concat([c_price,c_dollar,c_gold,c_oil1,c_oil2,c_oil3,c_oil4,c_oil5,c_slx,c_baltic],axis=1)

In [27]:
olddatafram.columns = ['price','dollar','gold','oil1','oil2','oil3','oil4','oil5','SLX','baltic']

In [28]:
olddatafram.head()

,price,dollar,gold,oil1,oil2,oil3,oil4,oil5,SLX,baltic
0,135.0,77.47,1126.35,79.51,82.37,81.10,213.12,219.43,67.550003,3140.0
1,135.0,77.32,1139.55,79.07,80.07,78.70,208.40,210.71,65.000000,3299.0
2,131.5,78.28,1116.00,75.91,76.82,75.69,201.36,199.84,58.900002,3204.0
3,126.0,79.46,1089.95,72.19,74.03,72.56,194.76,193.31,54.509998,2848.0
4,128.5,80.44,1090.80,73.95,74.59,73.36,196.47,196.32,54.369999,2715.0

In [29]:
olddatafram.tail()

,price,dollar,gold,oil1,oil2,oil3,oil4,oil5,SLX,baltic
446,66.23,94.67,1227.40,71.86,68.57,73.48,210.34,213.89,48.070000,1676.0
447,66.92,95.14,1219.10,72.51,68.80,73.76,209.36,213.40,46.939999,1773.0
448,69.44,96.36,1212.06,72.15,67.91,73.11,204.55,213.51,44.849998,1691.0
449,67.56,96.10,1187.63,70.74,66.12,71.82,200.29,211.01,43.490002,1723.0
450,66.85,95.15,1192.40,72.27,67.13,74.03,204.76,215.99,44.360001,1697.0

In [32]:
olddatafram.to_csv(r"C:\Users\hyde2\py_coding\posco\data\olddf.csv",index=False)

# R PROGRAMMING START
### 1week later prediction

In [2]:
setwd("C:\\Users\\hyde2\\py_coding\\posco\\data")

In [3]:
olddatafram = read.csv("olddf.csv")

In [4]:
head(olddatafram)

  price dollar gold    oil1  oil2  oil3  oil4   oil5   SLX   baltic
1 135.0 77.47  1126.35 79.51 82.37 81.10 213.12 219.43 67.55 3140
2 135.0 77.32  1139.55 79.07 80.07 78.70 208.40 210.71 65.00 3299
3 131.5 78.28  1116.00 75.91 76.82 75.69 201.36 199.84 58.90 3204
4 126.0 79.46  1089.95 72.19 74.03 72.56 194.76 193.31 54.51 2848
5 128.5 80.44  1090.80 73.95 74.59 73.36 196.47 196.32 54.37 2715
6 129.5 80.32  1072.60 71.21 73.91 72.15 192.34 193.03 57.31 2571

In [5]:
tail(olddatafram)

    price dollar gold    oil1  oil2  oil3  oil4   oil5   SLX   baltic
446 64.85 94.45  1228.94 70.98 68.96 72.51 203.70 208.28 46.04 1689
447 66.23 94.67  1227.40 71.86 68.57 73.48 210.34 213.89 48.07 1676
448 66.92 95.14  1219.10 72.51 68.80 73.76 209.36 213.40 46.94 1773
449 69.44 96.36  1212.06 72.15 67.91 73.11 204.55 213.51 44.85 1691
450 67.56 96.10  1187.63 70.74 66.12 71.82 200.29 211.01 43.49 1723
451 66.85 95.15  1192.40 72.27 67.13 74.03 204.76 215.99 44.36 1697

In [6]:
sum(is.na(olddatafram$dollar))

[1] 0

In [7]:
#install.packages("tseries")
library("tseries")

Warning message:
"package 'tseries' was built under R version 3.6.2"Registered S3 method overwritten by 'xts':
  method     from
  as.zoo.xts zoo
Registered S3 method overwritten by 'quantmod':
  method            from
  as.zoo.data.frame zoo

In [8]:
dollarprice = na.omit(olddatafram$dollar)
goldprice = ts(dollarprice, frequency=52)
adf.test(diff(log(goldprice)),alternative="stationary",k=0)

Warning message in adf.test(diff(log(goldprice)), alternative = "stationary", k = 0):
"p-value smaller than printed p-value"

	Augmented Dickey-Fuller Test

data:  diff(log(goldprice))
Dickey-Fuller = -20.948, Lag order = 0, p-value = 0.01
alternative hypothesis: stationary

In [9]:
library(forecast)

Warning message:
"package 'forecast' was built under R version 3.6.2"Registered S3 methods overwritten by 'ggplot2':
  method         from
  [.quosures     rlang
  c.quosures     rlang
  print.quosures rlang
Registered S3 methods overwritten by 'forecast':
  method             from
  fitted.fracdiff    fracdiff
  residuals.fracdiff fracdiff

In [10]:
fit <- arima(log(goldprice), c(1, 0, 1), 
             seasonal = list(order = c(0, 1, 1),period = 52))

pred<-predict(fit,n.ahead=5)

numbers<-pred$pred

dollar_pred<-exp(numbers)

In [11]:
print(dollar_pred)

Time Series:
Start = c(9, 36)
End = c(9, 40)
Frequency = 52
[1] 95.58008 94.63039 94.72041 94.83966 94.84015

In [12]:

#2.금값
dollarprice<-na.omit(olddatafram$gold)

goldprice<-ts(dollarprice,frequency=52)


library(tseries)

adf.test(diff(log(goldprice)),alternative="stationary",k=0)

library(forecast)



fit <- arima(log(goldprice), c(1, 0, 1), 
             seasonal = list(order = c(0, 1, 1),period = 52))

pred<-predict(fit,n.ahead=5)

numbers<-pred$pred

gold_pred<-exp(numbers)


#3.두바이
dollarprice<-na.omit(olddatafram$oil1)

goldprice<-ts(dollarprice,frequency=52)


library(tseries)

adf.test(diff(log(goldprice)),alternative="stationary",k=0)

library(forecast)


fit <- arima(log(goldprice), c(1, 0, 1), 
             seasonal = list(order = c(0, 1, 1),period = 52))

pred<-predict(fit,n.ahead=5)

numbers<-pred$pred

dubai_pred<-exp(numbers)

#4. wti

dollarprice<-na.omit(olddatafram$oil2)

goldprice<-ts(dollarprice,frequency=52)


library(tseries)

adf.test(diff(log(goldprice)),alternative="stationary",k=0)

library(forecast)



fit <- arima(log(goldprice), c(1, 0, 1), 
             seasonal = list(order = c(0, 1, 1),period = 52))

pred<-predict(fit,n.ahead=5)

numbers<-pred$pred

wti_pred<-exp(numbers)


#5.brent

dollarprice<-na.omit(olddatafram$oil3)

goldprice<-ts(dollarprice,frequency=52)


library(tseries)

adf.test(diff(log(goldprice)),alternative="stationary",k=0)

library(forecast)


fit <- arima(log(goldprice), c(1, 0, 1), 
             seasonal = list(order = c(0, 1, 1),period = 52))

pred<-predict(fit,n.ahead=5)

numbers<-pred$pred

brent_pred<-exp(numbers)


#6.gasoline

dollarprice<-na.omit(olddatafram$oil4)

goldprice<-ts(dollarprice,frequency=52)


library(tseries)

adf.test(diff(log(goldprice)),alternative="stationary",k=0)

library(forecast)


fit <- arima(log(goldprice), c(1, 0, 1), 
             seasonal = list(order = c(0, 1, 1),period = 52))

pred<-predict(fit,n.ahead=5)

numbers<-pred$pred

gasoline_pred<-exp(numbers)


#7. warm

dollarprice<-na.omit(olddatafram$oil5)

goldprice<-ts(dollarprice,frequency=52)


library(tseries)

adf.test(diff(log(goldprice)),alternative="stationary",k=0)

library(forecast)



fit <- arima(log(goldprice), c(1, 0, 1), 
             seasonal = list(order = c(0, 1, 1),period = 52))

pred<-predict(fit,n.ahead=5)

numbers<-pred$pred

warm_pred<-exp(numbers)

#8. SLX

dollarprice<-na.omit(olddatafram$SLX)

goldprice<-ts(dollarprice,frequency=52)

library(tseries)

adf.test(diff(log(goldprice)),alternative="stationary",k=0)

library(forecast)

fit <- arima(log(goldprice), c(1, 0, 1), 
             seasonal = list(order = c(0, 1, 1),period = 52))

pred<-predict(fit,n.ahead=5)

numbers<-pred$pred

SLX_pred<-exp(numbers)

Warning message in adf.test(diff(log(goldprice)), alternative = "stationary", k = 0):
"p-value smaller than printed p-value"

	Augmented Dickey-Fuller Test

data:  diff(log(goldprice))
Dickey-Fuller = -17.015, Lag order = 0, p-value = 0.01
alternative hypothesis: stationary

Warning message in adf.test(diff(log(goldprice)), alternative = "stationary", k = 0):
"p-value smaller than printed p-value"

	Augmented Dickey-Fuller Test

data:  diff(log(goldprice))
Dickey-Fuller = -16.184, Lag order = 0, p-value = 0.01
alternative hypothesis: stationary

Warning message in adf.test(diff(log(goldprice)), alternative = "stationary", k = 0):
"p-value smaller than printed p-value"

	Augmented Dickey-Fuller Test

data:  diff(log(goldprice))
Dickey-Fuller = -16.352, Lag order = 0, p-value = 0.01
alternative hypothesis: stationary

Warning message in adf.test(diff(log(goldprice)), alternative = "stationary", k = 0):
"p-value smaller than printed p-value"

	Augmented Dickey-Fuller Test

data:  diff(log(goldprice))
Dickey-Fuller = -15.764, Lag order = 0, p-value = 0.01
alternative hypothesis: stationary

Warning message in adf.test(diff(log(goldprice)), alternative = "stationary", k = 0):
"p-value smaller than printed p-value"

	Augmented Dickey-Fuller Test

data:  diff(log(goldprice))
Dickey-Fuller = -16.573, Lag order = 0, p-value = 0.01
alternative hypothesis: stationary

Warning message in adf.test(diff(log(goldprice)), alternative = "stationary", k = 0):
"p-value smaller than printed p-value"

	Augmented Dickey-Fuller Test

data:  diff(log(goldprice))
Dickey-Fuller = -16.235, Lag order = 0, p-value = 0.01
alternative hypothesis: stationary

Warning message in adf.test(diff(log(goldprice)), alternative = "stationary", k = 0):
"p-value smaller than printed p-value"

	Augmented Dickey-Fuller Test

data:  diff(log(goldprice))
Dickey-Fuller = -21.322, Lag order = 0, p-value = 0.01
alternative hypothesis: stationary

In [13]:
#9.baltic index

dollarprice<-na.omit(olddatafram$baltic)

goldprice<-ts(dollarprice,frequency=52)


library(tseries)

adf.test(diff(log(goldprice)),alternative="stationary",k=0)

library(forecast)

fit <- arima(log(goldprice), c(1, 0, 1), 
             seasonal = list(order = c(0, 1, 1),period = 52))

pred<-predict(fit,n.ahead=5)

numbers<-pred$pred

baltic_pred<-exp(numbers)

Warning message in adf.test(diff(log(goldprice)), alternative = "stationary", k = 0):
"p-value smaller than printed p-value"

	Augmented Dickey-Fuller Test

data:  diff(log(goldprice))
Dickey-Fuller = -13.636, Lag order = 0, p-value = 0.01
alternative hypothesis: stationary

In [14]:
datafram<-data.frame(price=c(0,0,0,0,0),dollar=dollar_pred,gold=gold_pred,oil1=dubai_pred,oil2=wti_pred,oil3=brent_pred,oil4=gasoline_pred,oil5=warm_pred,SLX=SLX_pred,baltic=baltic_pred)
datafram

  price dollar   gold     oil1     oil2     oil3     oil4     oil5     SLX
1 0     95.58008 1197.731 73.20018 68.03963 75.48686 205.7910 220.9578 45.04684
2 0     94.63039 1195.070 73.16866 68.48934 75.37257 199.2947 220.8186 45.66938
3 0     94.72041 1189.193 72.23126 67.39683 74.07292 197.3528 217.0532 44.17070
4 0     94.83966 1179.024 71.81782 67.28564 74.13664 198.9971 217.8103 43.37552
5 0     94.84015 1180.570 72.03707 68.02517 74.74583 198.0102 219.8582 43.74806
  baltic
1 1697.098
2 1772.879
3 1811.677
4 1890.734
5 1961.258

In [15]:
## 배깅 모델링

library(randomForest)

head(olddatafram)

olddatafram_r<-na.omit(olddatafram)

set.seed(1)

f.bag<-randomForest(price ~ gold+oil1+oil2+oil3+oil4+oil5+dollar+SLX+baltic,
                    data = olddatafram_r ,
                    ntree=500,
                    mtry = 9,  # using some predictors = r.f.
                    importance =TRUE)

Warning message:
"package 'randomForest' was built under R version 3.6.2"randomForest 4.6-14
Type rfNews() to see new features/changes/bug fixes.

  price dollar gold    oil1  oil2  oil3  oil4   oil5   SLX   baltic
1 135.0 77.47  1126.35 79.51 82.37 81.10 213.12 219.43 67.55 3140
2 135.0 77.32  1139.55 79.07 80.07 78.70 208.40 210.71 65.00 3299
3 131.5 78.28  1116.00 75.91 76.82 75.69 201.36 199.84 58.90 3204
4 126.0 79.46  1089.95 72.19 74.03 72.56 194.76 193.31 54.51 2848
5 128.5 80.44  1090.80 73.95 74.59 73.36 196.47 196.32 54.37 2715
6 129.5 80.32  1072.60 71.21 73.91 72.15 192.34 193.03 57.31 2571

In [16]:
pred.bag<-predict(f.bag,newdata=datafram)

In [17]:
pred.bag

       1        2        3        4        5
67.28877 66.50566 67.03633 67.14305 67.20799

In [18]:
##철광석 ARIMA 분석

dollarprice<-na.omit(olddatafram$price)

goldprice<-ts(dollarprice,frequency=52)


library(tseries)

adf.test(diff(log(goldprice)),alternative="stationary",k=0)

library(forecast)

auto.arima(diff(log(goldprice)))


fit <- arima(log(goldprice), c(1, 0, 1), 
             seasonal = list(order = c(0, 1, 1),period = 52))


pred<-predict(fit,n.ahead=5)

numbers<-pred$pred

price_pred<-exp(numbers)

Warning message in adf.test(diff(log(goldprice)), alternative = "stationary", k = 0):
"p-value smaller than printed p-value"

	Augmented Dickey-Fuller Test

data:  diff(log(goldprice))
Dickey-Fuller = -15.283, Lag order = 0, p-value = 0.01
alternative hypothesis: stationary

Series: diff(log(goldprice))
ARIMA(3,0,0)(1,0,0)[52] with zero mean

Coefficients:
         ar1     ar2      ar3     sar1
      0.2942  0.0724  -0.0544  -0.0066
s.e.  0.0475  0.0498   0.0445   0.0535

sigma^2 estimated as 0.001376:  log likelihood=838.31
AIC=-1666.63   AICc=-1666.49   BIC=-1646.13

In [19]:
print(price_pred)

Time Series:
Start = c(9, 32)
End = c(9, 36)
Frequency = 52
[1] 66.09279 66.31582 66.34928 64.96733 64.25361

In [20]:
final_1<-(price_pred+pred.bag)/2
final_1<-final_1[1]
print(final_1) #1주뒤 철광석 가격 예측

       1
66.69078

### 3week later prediction(and after prediction of 3week, we will do 2week later prediction.)

In [23]:
##철광석 ARIMA 분석

dollarprice<-olddatafram$price

goldprice<-ts(dollarprice,frequency=52)

library(tseries)


library(forecast)



fit <- arima(log(goldprice), c(1, 0, 1), 
           seasonal = list(order = c(0, 1, 1),period = 52))


pred<-predict(fit,n.ahead=5)

numbers<-pred$pred

price_pred<-exp(numbers)

final_3 = price_pred[3]

 diff(log(goldprice)) ~ ARIMA(101)=ARMA(1,1)     #goldprice는 철광석가격
 
 log(goldprice)~ARIMA(1,1,1) # seasonal가 0 1 1
 
*$Y_t ~ ARIMA(1,1,1)$*  

$diff(Y_t)<->ARIMA(1,1)$  
 log(goldprice)에 모델 fit 예측을 한다. 예측한 값에 exp을 구하면 가격 예측값이 나온다

In [24]:
print(final_3) # 3주뒤 철광석 가격 예측

[1] 66.38907

### 2week later prediction

In [26]:
final_2=(final_1+final_3)/2
print(final_2)

       1
66.53993

### 4 week later prediction

In [32]:
f.bag<-randomForest(price ~ gold+oil1+oil2+oil3+oil4+oil5+dollar,
                    data = olddatafram_r ,
                    ntree=500,
                    mtry = 7,  # using some predictors = r.f.
                    importance =TRUE)

In [31]:
datafram<-datafram[,1:8]

In [33]:
pred.bag<-predict(f.bag,newdata=datafram)

In [35]:
final_41=pred.bag[4] # bagging 결과값
print(final_4)

       4
65.60608

In [36]:
##철광석 ARIMA 분석

dollarprice<-olddatafram$price

goldprice<-ts(dollarprice,frequency=52)



library(tseries)


library(forecast)

auto.arima(diff(log(goldprice)))


fit <- arima(log(goldprice), c(1, 0, 0))

pred<-predict(fit,n.ahead=5)

numbers<-pred$pred

price_pred<-exp(numbers)

Series: diff(log(goldprice))
ARIMA(1,0,0) with zero mean

Coefficients:
         ar1
      0.3052
s.e.  0.0451

sigma^2 estimated as 0.001382:  log likelihood=830.17
AIC=-1656.33   AICc=-1656.3   BIC=-1648.11

In [37]:
final_42=price_pred[4] #ARIMA 결과값

In [41]:
final_4=(final_41+final_42)/2

In [43]:
print(final_4)

       4
66.44773

### 5 week later prediction

In [44]:
final_51=pred.bag[5]
final_52=price_pred[5]
final_5=(final_51+final_52)/2

In [45]:
print(final_5)

       5
66.51819

In [48]:
result=cbind(final_1, final_2,final_3,final_4,final_5)
result=as.data.frame(result)
colnames(result)=c("1week","2week","3week","4week","5week")