### 전처리
- Python 사용

In [1]:
import os
import numpy as np
import pandas as pd

In [2]:
path=os.chdir(r"C:\Users\hyde2\py_coding\posco")

In [3]:
baltic=pd.read_csv(r"data\baltic_r_r.csv",encoding="euc-kr")
dollarindex=pd.read_csv(r"data\dollarindex.csv",encoding="euc-kr")
gold=pd.read_csv(r"data\gold_price_r.csv",encoding="euc-kr")
oil=pd.read_csv(r"data\oil_price_r.csv",encoding="euc-kr")
slx=pd.read_csv(r"data\SLX.csv",encoding="euc-kr")
iron=pd.read_excel(r"data\IRON_r.xls",encoding="euc-kr")

In [4]:
iron.head()

          기준일   기준가격   등락가   등락비율  재고량
0  2010-01-08  135.0  23.5  21.08  0.0
1  2010-01-15  135.0   0.0   0.00  0.0
2  2010-01-22  131.5  -3.5  -2.59  0.0
3  2010-01-29  126.0  -5.5  -4.18  0.0
4  2010-02-05  128.5   2.5   1.98  0.0

In [5]:
iron.rename(columns={iron.columns[0]:"date",iron.columns[1]:"price",
                     iron.columns[2]:"rise",iron.columns[3]:"pro",
                    iron.columns[4]:"waste"},inplace=True)

In [6]:
gold.head()

         날짜  금 [LBMA] 현물
0  20100104      1126.35
1  20100111      1139.55
2  20100118      1116.00
3  20100125      1089.95
4  20100201      1090.80

In [7]:
gold.rename(columns={gold.columns[0]:"date", gold.columns[1]:"price"},inplace=True)

In [8]:
oil.head()

,날짜,두바이유 [싱가포르(FOB)] 현물,날짜.1,WTI [CME(NYMEX)] 2018.09,날짜.2,브렌트유 [ICE] 2018.09,날짜.3,휘발유 [CME(NYMEX)] 2018.08,날짜.4,난방유 [CME(NYMEX)] 2018.09
0,20100104,79.51,20100104,82.37,20100104,81.10,20100104,213.12,20100104,219.43
1,20100111,79.07,20100111,80.07,20100111,78.70,20100111,208.40,20100111,210.71
2,20100118,75.91,20100118,76.82,20100118,75.69,20100118,201.36,20100118,199.84
3,20100125,72.19,20100125,74.03,20100125,72.56,20100125,194.76,20100125,193.31
4,20100201,73.95,20100201,74.59,20100201,73.36,20100201,196.47,20100201,196.32

In [9]:
oil.rename(columns={oil.columns[0]:"date",oil.columns[1]:"dubai",
                    oil.columns[2]:"date1",oil.columns[3]:"wti",
                    oil.columns[4]:"date2",oil.columns[5]:"brent",
                    oil.columns[6]:"date3",oil.columns[7]:"gasoline",
                    oil.columns[8]:"date4",oil.columns[9]:"warm"},inplace=True)

In [10]:
dollarindex.columns=("date","price","open","high","low","tran","transition")

In [11]:
iron.iloc[446,0]="2018-07-27"
iron.iloc[447,0]="2018-08-03"
iron.iloc[448,0]="2018-08-10"

In [12]:
slx.drop(0,inplace=True)
slx=slx.reset_index()

In [13]:
baltics=baltic["Price"]

In [14]:
baltics=baltics.map(lambda x: str(x).replace(".00",""))
baltics=baltics.map(lambda x: str(x).replace(",",""))

In [15]:
baltics=baltics.astype("float64")

In [16]:
baltics.dtype

dtype('float64')

In [17]:
olddf=pd.DataFrame(data={"price":iron["price"],"dollar":dollarindex["price"],
                        "gold":gold["price"],"oil1":oil["dubai"],
                         "oil2":oil["wti"],"oil3":oil["brent"],
                        "oil4":oil["gasoline"],"oil5":oil["warm"],
                        "SLX":slx["Close"],"blatic":baltics})

In [18]:
olddf.to_csv(r"data\olddf.csv")

## R PROGRAMMING START
- 타임시리즈

In [1]:
setwd("C:\\Users\\hyde2\\py_coding\\posco")

In [2]:
olddf<-read.csv("data\\olddf.csv")

In [3]:
olddf<-olddf[,2:11]

In [4]:
head(olddf)

  price dollar gold    oil1  oil2  oil3  oil4   oil5   SLX   blatic
1 135.0 77.47  1126.35 79.51 82.37 81.10 213.12 219.43 67.55 3140
2 135.0 77.32  1139.55 79.07 80.07 78.70 208.40 210.71 65.00 3299
3 131.5 78.28  1116.00 75.91 76.82 75.69 201.36 199.84 58.90 3204
4 126.0 79.46  1089.95 72.19 74.03 72.56 194.76 193.31 54.51 2848
5 128.5 80.44  1090.80 73.95 74.59 73.36 196.47 196.32 54.37 2715
6 129.5 80.32  1072.60 71.21 73.91 72.15 192.34 193.03 57.31 2571

In [5]:
dollarprice<-na.omit(olddf$dollar)

In [6]:
goldprice<-ts(dollarprice, frequency=52)

In [7]:
install.packages("tseries")
install.packages("forecast")
install.packages("randomForest")

package 'tseries' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\hyde2\AppData\Local\Temp\RtmpEB3Q5N\downloaded_packages
package 'forecast' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\hyde2\AppData\Local\Temp\RtmpEB3Q5N\downloaded_packages
package 'randomForest' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\hyde2\AppData\Local\Temp\RtmpEB3Q5N\downloaded_packages

In [8]:
library(tseries)
library(forecast)

Warning message:
"package 'tseries' was built under R version 3.6.2"Registered S3 method overwritten by 'xts':
  method     from
  as.zoo.xts zoo
Registered S3 method overwritten by 'quantmod':
  method            from
  as.zoo.data.frame zoo
Warning message:
"package 'forecast' was built under R version 3.6.2"Registered S3 methods overwritten by 'ggplot2':
  method         from
  [.quosures     rlang
  c.quosures     rlang
  print.quosures rlang
Registered S3 methods overwritten by 'forecast':
  method             from
  fitted.fracdiff    fracdiff
  residuals.fracdiff fracdiff

Dickey-Fuller Test
:stationary인지 아닌지를 가설검증하는 것.
기각되면 쓸수 있고 기각안되면 힘들어짐

> p-value가 0.01로 기각이 되었으므로 stationary임을 알수 있다. ARIMA사용가능

In [9]:
adf.test(diff(log(goldprice)),alternative="stationary",k=0)
#ARIMA(p,d,q) diff를 한번썼으믈 1차차분이다. 그래서 d=1

Warning message in adf.test(diff(log(goldprice)), alternative = "stationary", k = 0):
"p-value smaller than printed p-value"

	Augmented Dickey-Fuller Test

data:  diff(log(goldprice))
Dickey-Fuller = -20.948, Lag order = 0, p-value = 0.01
alternative hypothesis: stationary

In [10]:
fit <- arima(log(goldprice), c(1, 0, 1), 
             seasonal = list(order = c(0, 1, 1),period = 52))

In [11]:
pred<-predict(fit,n.ahead=5)

numbers<-pred$pred

dollar_pred<-exp(numbers)

In [12]:
print(dollar_pred)

Time Series:
Start = c(9, 36)
End = c(9, 40)
Frequency = 52
[1] 95.58008 94.63039 94.72041 94.83966 94.84015